@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:wght@300&display=swap');

.texto{
  text-align: center;
  position: absolute;
  color: white;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

body{
background-color:#D8C9C9;
}
.menu{
font-family: 'Bitter', serif;
}

.item-m{
  display: inline-block;
  padding: 20px;
  text-decoration: none;
}

.item-m a {
  padding: 20px;
  color: #3E3D3D;
  text-decoration: none;
}
.item-m a:hover{
  padding: 20px;
  color: ##3E3D3D;
  background-color: #FCF7F7;
  text-decoration: none;
}

h1 h2 h3 h4{
font-family: 'Bebas Neue', cursive;
}
.cuerpo{
  text-align: center;
  background-color: #E8D0ED;
  font-family: 'Bitter', serif;
  padding: 50px;
  color: #363232;
}

.collection{
  font-family: 'Bitter', serif;
  color: #363232;
}
.final{
  font-family: 'Bitter', serif;
  color: #363232;
}

.pie {
  text-align: center;
 font-family: 'Bitter', serif;
  color: #000000;
  height: 100px;
  background-color: #B6B3B7;
  padding: 80px;
}
